{% extends "layout.html" %}

{% block include %}

<style>
#form1{
    margin-top: 150px;
}
</style>

{% endblock %}

{% block body %}
    <form action="{{ url_for('search') }}" method="POST" id="form1">
        <select class="form-group form-control col-3" name="search_by">
            <option value="isbn">ISBN</option>
            <option value="author">Author</option>
            <option value="title">Title</option>
        </select>
        <div class="form-row align-items-center">
          <div class="col-auto col-7">
            <input type="text" class="form-control mb-2" name="search_text" placeholder="ISBN/Title/Author">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Search Book</button>
          </div>
        </div>
      </form>
<br><br>
{% for book in books %}
<li><a href = "{{ url_for('book',book_id =book.book_id) }}">{{ book.title }}</a></li>
{% endfor %}
<h3>{{ message }}</h3>
{% endblock %}